/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family:"Socialico";
  src:
    url("../fonts/Socialico/Socialico.eot?") format("eot"),
    url("../fonts/Socialico/Socialico.woff") format("woff"),
    url("../fonts/Socialico/Socialico.ttf") format("truetype"),
    url("../fonts/Socialico/Socialico.svg#Socialico") format("svg");
  font-weight:normal;
  font-style:normal;
}

/*Общие настройки сайта*/
body {
  width: 1280px;
  margin: 0 auto;
  font-family: Arial;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background: url(../img/bg3-4.jpg);
  background-repeat: no-repeat;
  background-position: center center;

}
.padding-site {
  padding: 50px;
  box-sizing: border-box;
}
/*Шапка сайта*/
.main-header {
  width: 100%;
  background-color: #445161;
  color: #fff;
}
.main-header:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.main-header-wrp {
  float: left;
}
.main-header-title {
  display: block;
  margin: 0 0 35px 0;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
  font-size: 60px;
  font-weight: 400;
  line-height: 44px;
}
.main-header-list {
  margin: 0;
}
.main-header-list-item {
  list-style-type: none;
  position: relative;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}
.main-header-list-item:before {
  content: "";
  display: block;
  width: 25px;
  height: 19px;
  position: absolute;
  top: 5px;
  left: -40px;
  background-image: url(../img/icons/check.png);
  background-size: cover;
}
.main-heder-img {
  width: 469px;
  min-height: 214px;
  float: right;
  display: block;
  background-color: #fff;
}
/*About Product*/
.about-product {
  width: 100%;
}
.about-product:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.about-product-wrp {
  float: left;
}
.about-product-title{
  text-align: left;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
}
.about-product-discript {
  width: 653px;
  min-height: 60px;
  padding: 0;
  margin: 20px 0 0 0;
}
.about-product-vieo {
  float: right;
  width: 430px;
  height: 245px;
  background-color: #445161;
  color: #fff;
}
.about-product-vieo:focus,
.product-vieo:focus,
.product-vieo:hover {
    background-color: rgba(194, 194, 194, 1);
    outline: none;
}

/*dignity-product*/
.dignity-product {
  background-color: #f5f5f5;
}
.dignity-product:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.dignity-product-title {
  display: block;
  text-align: center;
  height: 28px;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
}
.ditails-product-list-left {
  float: left;
  margin: 0 0 0 0;
}
.ditails-product-list-right {
  float: right;
  margin: 0 0 0 0;
}
.ditails-product-item {
  list-style-type: none;
  position: relative;
  width: 526px;
  margin: 36px 0 0 0;
}
.ditails-product-item:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-color: #445161;
  position: absolute;
  top: 5px;
  left: -40px;
  background-image: url(../img/icons/plus.png);
  background-size: contain;
}
/*screenshots-product*/
.screenshots-product {
  width: 100%;
  background-color: #fff;
}
.screenshots-product:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.screenshots-product-title {
  display: block;
  width: 100%;
  text-align: center;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 21px 0;
}
.screenshots-product-figure {
  width: 590px;
  float: left;
  margin: 0 0 30px 0;
}
.screenshots-product-figure:nth-child(4),
.screenshots-product-figure:nth-child(5) {
    margin: 0;
}
.screenshots-product-img {
  display: block;
  float: left;
  width: 200px;
  height: 150px;
  background-color: #445161;
  text-align: center
}
.screenshots-product-img-discr {
  width: 362px;
  float: left;
  margin: 0 0 0 14px;
}
.screenshots-product-img-title {
  margin: 0 0 0 0;
  text-align: left;
  color: #445161;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
.screenshots-product-discription {
  width: 100%;
  margin: 0 0 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
/* Reviews */
.reviews {
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reviews-title {
  width: 100%;
  display: block;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 33px 0;
  text-align: center;
}
.user-reviews-wrp {
  width: 574px;
  margin: 0 0 24px 0;
  display: flex;
  justify-content: space-between;
}
.user-reviews-wrp:nth-child(4),
.user-reviews-wrp:nth-child(5) {
  margin: 0;
}
.user-reviews-img {
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #445161;

}
.user-reviews-discr {
  margin: 0 0 0 28px;
  background-color: #ebebeb;
  width: 471px;
  font-size: 14px;
  border-radius: 7px;
  font-style: italic;
  line-height: 18px;
  padding: 12px 13px 12px 15px;
  position: relative;
}
.user-reviews-discr:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #ebebeb;
  left: -9px;
  top: 30px;
  transform: rotate(45deg);
}
.user-reviews-discr-link,
.user-reviews-discr-link:active,
.user-reviews-discr-link:focus {
  margin: 7px 0 0 0;
  display: block;
  text-decoration: none;
  font-style: normal;
  color: #989898;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  outline: none;
}
/* Buy it now rates */
.buy {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-items: flex-end;
}
.buy-title {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 0 31px 0;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}
.buy-rates {
  width: 25.45%;
  background-color: #445162;
  color: #fff;
  margin: 0 0 0 0;
  border-radius: 3px;
}
.buy-rates:nth-child(3) {
  margin: 0 45px 0 45px;
}
.buy-rates-heading {
  width: 100%;

  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0 0 0 0;
  padding: 11px 0 13px 0;
}
.buy-rates-price {
  display: block;
  width: 300px;
  background-color: #fff;
  border: 2px solid #445162;
  box-sizing: border-box;
  color: #445162;
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding: 12px 0 14px 0;
  margin: 0 0 16px 0;
}
.buy-rates-price-list {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 14px 0;
}
.buy-rates-btn {
  width: 260px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  margin: 0 20px 20px 20px;
  color: #445161;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

/*Footer*/
.footer-wrp {
  width: 100%;
  border: 1px solid black;
  background-color: #445162;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contacts-title {
  display: block;
  width: 100%;
  text-align: center;
  font-family: Arial;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 24px 0;
}
.contacts-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 45px 0 0;
}
.contacts-name,
.contacts-mail {
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  margin: 0 0 21px 0;
}
.contacts-message {
  width: 100%;
  min-height: 170px;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 0 21px 0;
}
.contacts-name,
.contacts-mail,
.contacts-message {
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial;
  color: #445162;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.contacts-form-send {
  width: 140px;
  min-height: 40px;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
}

.address {
  width: 193px;
}
.address-list {
  list-style-type: none;
  width: 165px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
.address-list-item {
  margin: 0 0 24px 0;
  position: relative;
}
.skype:before {
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: -2px;
  left: -30px;
  background-image: url(../img/socseti/skype.png);
  background-size: cover;
}
.icq:before {
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: -2px;
  left: -30px;
  background-image: url(../img/socseti/icq.png);
  background-size: cover;
}
.email:before {
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: -2px;
  left: -30px;
  background-image: url(../img/socseti/email.png);
  background-size: cover;
}
.phone:before {
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: -2px;
  left: -30px;
  background-image: url(../img/socseti/phone.png);
  background-size: cover;

}
.address-list-item-link {
  text-decoration: none;
  color: #fff;
}
.address-list-item-link:focus {
  border-bottom: 1px solid #fff;
  outline: none;
}
.social-network {
  width: 240px;
  display: flex;
  justify-content: center;
}
.social-network-link {
  display: inline-block;
  text-decoration: none;
  font-family:"Socialico";
  font-size: 60px;
  color: #fff;
  margin: 0 6px 0 0;
}

.social-network-link:nth-child(5) {
  margin-right: 0;
}

.social-network-img:focus {
  border: 1px solid #fff;
  border-radius: 50%;
  outline: none;
}
.social-network-link:focus,
.social-network-link:hover {
  outline: none;
  color: #ccc;
}
.social-network-link:active {
  color: #f00;
}
.copyright {
  width: 100%;
  margin: 0;
  text-align: center;
  background-color: #f5f5f5;
  color: #445162;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

/* Hover */
.buy-rates-btn:hover,
.buy-rates-btn:focus,
.contacts-name:hover,
.contacts-name:focus,
.contacts-mail:hover,
.contacts-mail:focus,
.contacts-message:hover,
.contacts-message:focus,
.contacts-form-send:hover,
.contacts-form-send:focus {
  background-color: #ccc;
  color: #fff;
  outline: none;
}
.contacts-form-send::-moz-focus-inner,
.buy-rates-btn::-moz-focus-inner {border: 0px !important;}

/*Active*/
.about-product-vieo:active,
.buy-rates-btn:active,
.contacts-name:active,
.contacts-mail:active,
.contacts-message:active,
.contacts-form-send:active,
.address-list-item:active {
  background-color: #fff;
  color: #ccc;
  -webkit-outline: none;
  -moz-outline: none;
  outline: none;
}
