/*-------------Общие настройки сайта--------------------*/
body {
  width: 1280px;
  margin: 0 auto;
  font-family: arial;
}
.padding-site {
  padding: 50px;
  box-sizing: border-box;
}
/*-------------Шапка сайта--------------------*/
.main-header {
  width: 100%;
  background-color: #445161;
  color: #fff;
}
.main-header:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.main-header-wrp {
  float: left;
}
.main-header-title {
  display: block;
  margin: 0 0 35px 0;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
  font-size: 60px;
  line-height: 44px;
}
.main-header-list {
  margin: 0;
}
.main-header-list-item {
  list-style-type: none;
  position: relative;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}
.main-header-list-item:before {
  content: "";
  display: block;
  width: 25px;
  height: 19px;
  position: absolute;
  top: 5px;
  left: -40px;
  background-image: url(img/icons/check.png);
  background-size: cover;

}
.main-heder-img {
  width: 469px;
  min-height: 214px;
  float: right;
  display: block;
  background-color: #fff;
  color: #333;
}
/*-------------------About Product----------------------*/
.content {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.about-product {
  width: 100%;
}
.about-product:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.about-product-wrp {
  float: left;
}
.about-product-title{
  width: 254px;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}
.about-product-discript {
  width: 653px;
  height: 60px;
  padding: 20px 0 0 0;
  color: #333;
  font-size: 16px;
  line-height: 24px;
}
.about-product-vieo {
  float: right;
  width: 430px;
  height: 245px;
  background-color: #445161;
    color: #fff;
}

/*-----dignity-product-------------------------*/
.dignity-product {
  background-color: #f5f5f5;
}
.dignity-product:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.dignity-product-title {
  display: block;
  text-align: center;
  height: 28px;
  color: #445161;
  font-size: 30px;
  line-height: 36px;
}
.ditails-product-list-left {
  float: left;
  margin: 0 0 0 0;
}
.ditails-product-list-right {
  float: right;
  margin: 0 0 0 0;
}
.ditails-product-item {
  list-style-type: none;
  position: relative;
  width: 526px;
  margin: 36px 0 0 0;
  color: #333;
  font-size: 16px;
  line-height: 24px;
}
.ditails-product-item:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-color: #445161;
  position: absolute;
  top: 5px;
  left: -40px;
  background-image: url(img/icons/plus.png);
  background-size: contain;
}
/*---------Footer -----------------------------*/
